<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.yukungao.fetch</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconname</key>
	<string>AppIcon</string>
	<key>LSUIElement</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.fetch.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fetch-auth</string>
			</array>
		</dict>
	</array>
	<key>NSAppleEventsUsageDescription</key>
	<string>Fetch 需要访问 Google Chrome 以读取您的登录状态，从而实现一键自动登录 Gemini。</string>
</dict>
</plist>
